.label {
    display: inline-flex;
    border-radius: 28px;
    padding: 4px 14px;
    align-items: center;
    gap: 8px;
    background-color: #fee2e2;
    color: #b91c1c;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
}